<!-- About page text -->
<p>
    This app has five pages, including the homepage (which includes the functions of adding, 
    deleting, displaying, searching, and editing artists, including featured artist options), 
    help interface, about this application interface (this interface), privacy interface, 
    and an error interface (404 NOT FOUND page).

    Briefly introduce the main page:
    The main page allows you to input all information about artists and display it in real-time, 
    allowing for real-time editing, searching, and deletion.
</p>
